* {
  font-family: "Roboto", sans-serif;
  color: rgb(194, 193, 255);
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100vw;
  height: 70px;
  top: 0;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarRight {
  margin: 0 10px 0 10px;
  padding: 0;
}

.navbarInitials {
  font-family: "Crimson Text", serif;
  font-size: 32px;
  /* color: #1c85e8; */
  /* color: #3f51b5; */
  color: #757de8;
  margin: 0 10px 0 20px;
  padding: 0;
}

.navbarName {
  margin: 0 20px 0 10px;
  padding: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.aboutName {
  font-size: 32px;
  font-weight: bold;
  margin: 15px;
}

.aboutNameBlue {
  /* color: #1c85e8; */
  /* color: #3f51b5; */
  color: #757de8;
}

.aboutH2 {
  margin: 2px;
}

.MuiButtonBase-root {
  margin-top: 20px !important;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
